<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Login Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Reference Bootstrap files -->
	
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

	<div class="container col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
		
		<div id="card" style="margin-top: 50px;"
			class="card border-dark">
			
				<div class="card-header text-white bg-dark mb-3">
					Sign In: Employee Management System
				</div>

				<div style="padding-top: 15px" class="card-body">

					<!-- Login Form -->
					<form th:action="@{/authenticateTheUser}" 
						  method="POST" class="form-horizontal">

					    <!-- Place for messages: error, alert etc ... -->
					    <div class="form-group">
					        <div class="col-xs-15">
					            <div>
								
									<!-- Check for login error -->
				
									<div th:if="${param.error}">
										
										<div class="alert alert-danger col-xs-offset-1 col-xs-10">
											Invalid username or password
										</div>
		
									</div>
										
									<!-- Check for logout -->

									<div th:if="${param.logout}">
										            
										<div class="alert alert-success col-xs-offset-1 col-xs-10">
											You have been logged out
										</div>
								    
									</div>
									
					            </div>
					        </div>
					    </div>

						<!-- User name -->
						<div style="margin-bottom: 25px" class="input-group">
							<i class="fa fa-user fa-2x" style="margin-right: 7px"></i> 	
							
							<input type="text" name="username" placeholder="username" class="form-control">
						</div>

						<!-- Password -->
						<div style="margin-bottom: 25px" class="input-group">
							<i class="fa fa-lock fa-2x" style="margin-right: 7px"></i> 
							
							<input type="password" name="password" placeholder="password" class="form-control" >
						</div>

						<!-- Login/Submit Button -->
						<div style="margin-top: 10px" class="form-group">						
							<div class="col-sm-6 controls">
								<button type="submit" class="btn btn-outline-dark btn-lg">Log In</button>
							</div>
						</div>
					
					</form>

				</div>

			</div>
				<!-- Registration Button -->
				<div style="margin-top: 10px">
					<a th:href="@{/register/showRegistrationForm}" class="btn btn-outline-primary btn-lg" role="button" aria-pressed="true">Sign Up</a>
				</div>

		</div>
</body>
</html>